<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="com.example.SetOfTwoTestCase" />
            <class name="com.example.SetOfFourTestCase" />
            <!-- Add more test classes if needed -->
        </classes>
    </test>
</suite>

